 p {
     color: green;
     font-weight: bold;
     border: 1px solid yellow
 }

 .highlight {
     background-color: yellow;
     padding: 5px;
 }

 #main-title {
     font-size: 24px;
     color: blue;
 }